*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

.container {
    display: grid;
    place-items: center;
    min-height: 10vh;
}

.heading {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 25;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2cm;
}

.card {
    height: 110px;
    width: 90px;
    background-color: aquamarine;
    border-radius: 10px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 0.3s all ease;
}

.card:hover {
    transform: scale(2.00);
}

.card img {
    width: 90%;
    max-height: 90px;
    opacity: 0;
    transition: 0.3s all ease;
}

.card.clicked {
    background-color: blueviolet;
}

.card.checked {
    background-color: lightsalmon;
}

.card.clicked img {
    opacity: 2;
}
.card.shake {
    background-color: lightpink;
    animation: shake 0.4s;
}

@keyframes shake {

}


